<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066927855860-e1fr6iv16jgrqvmog4rm1vb0j6gvuaoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066927855860-e1fr6iv16jgrqvmog4rm1vb0j6gvuaoq</string>
	<key>API_KEY</key>
	<string>AIzaSyBGZTmPQqpiroIQFlhBwrO8hTDI2KX6LA0</string>
	<key>GCM_SENDER_ID</key>
	<string>1066927855860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.KisilerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>egitim-e6d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim-e6d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066927855860:ios:d00feb8497bc27fc3626a1</string>
	<key>DATABASE_URL</key>
	<string>https://egitim-e6d6a-default-rtdb.firebaseio.com</string>
</dict>
</plist>